<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="edit-profile-form">

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="edit-profile-title">
            <h2>Edit your info</h2>
          </div>


          <div class="edit-form-inputs">

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently awaiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :user_name, label: 'User Name', placeholder: 'Enter your username', required: false, autofocus: true,input_html: { class: 'edit-form-inputs' } %>
            <%= f.input :password, autocomplete: "off", placeholder: 'Enter your new password', required: false, input_html: { class: 'edit-form-inputs' } %>
            <%= f.input :password_confirmation, required: false, placeholder: 'Retype the new password', input_html: { class: 'edit-form-inputs' } %>
            <%= f.input :current_password, placeholder: "Enter your current password", required: false, input_html: { class: 'edit-form-inputs' } %>
            <div class="edit-form-action">
              <%= f.button :submit, "Update", class: "update-profile" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- This isn't important for us right now! -->
<!-- <div>
  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div> -->
