<div class="wrapper">
<%= link_to boat_path(@boat) do %>
    <button type="button" class="back btn btn-warning">Back</button>
  <% end %>

  <div class="container">
    <div class="row">
     <span class="home_title">
      <h2 id="vessel-name"><%= @boat.name %> </h2>
      <div class="sweet_line"></div>
     </span>
    </div>


    <div class="review-photo">
        <%= image_tag "#{@boat.photo}"%>
    </div>
  </div>

        <!-- <div class="review">
          <div class="row">

            <div class=" left col-xs-12 col-sm-6">
              <p>Location: <%= @boat.location %></p>
              <p>Type of Vessel: <%= @boat.boat_type %></p>
            </div>

            <div class="col-xs-12 col-sm-1">
            </div>

            <div class=" right col-xs-12 col-sm-6">
              <p>Capacity: <%= @boat.capacity %> passengers</p>
              <p>Price per day: <%= @boat.price %>€</p>
            </div>


          </div>


          <p class="review-details">Description: <%= @boat.description %></p> -->

 <!--        <div class="sweet_line"></div> -->
        <div class="review-detials">
            <h4 class="review-details">Enter details for new booking here:</h4>
        </div>

        <%= render 'form', booking: @booking %>
    </div>
  <div class="space-maker" style="height:50px"></div>
  </div>



