<div class="navbar-wagon">
  <!-- Logo -->
    <div class="navbar-logo">
      <%= link_to root_path do %>
        <%= image_tag "nav_wheel.png"%>
      <% end %>
      <%= link_to root_path do %>
          <p>SeaBnB</p>
        <% end %>
    </div>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

   <!--  <a href="/" class="navbar-wagon-item navbar-wagon-link">Sign up</a> -->
    <!-- <div><%= link_to "Sign up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></div> -->

    <div class="hidden-xs hidden-sm">
      <a href="/boats" class="navbar-wagon-item navbar-wagon-link">All Boats</a>

      <% if user_signed_in? == false %>
       <%= render 'devise/menu/registration_items' %>
       <%= render 'devise/menu/login_items' %>
       <% else %>
       <a href="/dashboard" class="navbar-wagon-item navbar-wagon-link">Dashboard</a>
      <% end %>
    </div>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item d-xs-block d-sm-block">
      <div class="dropdown">
        <%= render 'devise/menu/signin_avatar' %>
      </div>
    </div>
  </div>

</div>
