<div class="container">

  <div class="dash-bookings-title">
    <h1>Your Dashboard</h1>
  </div>

  <h1>All of My Bookings:</h1>

  <% if @my_bookings.count > 0 %>
    <% @my_bookings.each do  |x| %>

      <div class="">
        <p>Boat Name: <%= x.boat.name %></p>
        <p>Start Date: <%= x.start_date %></p>
        <p>End Date: <%= x.end_date %></p>
        <p>Total Price: <%= (x.boat.price*(x.end_date - x.start_date)).to_i %></p>

        <div class="edit_booking">
          <%= link_to edit_boat_booking_path(x.boat, x) do %>
            <button class="option_button">Edit</button>
          <% end %>
        </div>
      <% end %>
      </div>

  <% else %>
    <h2>You don't have any bookings to display.</h2>
  <% end %>



  <% if @my_boats.count > 0 %>
    <h1>All of My Boats:</h1>

  <% @my_boats.each do  |x| %>
  <div class="">
      <p>Name: <%= link_to x.name, boat_path(x) %></p>

      <p>Description: <%= x.description %></p>
      <p>Location: <%= x.location %></p>
      <p>Capacity: <%= x.capacity %></p>
      <p>Price per day: <%= x.price %></p>
      <p>Boat Type: <%= x.boat_type %></p>
      <br>
      <br>
    <% end %>
  </div>
</div>

 <% end %>









