<div class="container">
  <div class="boat-form">

    <%= form_for @boat do |f| %>

    <p>Name of Vessel: <%= f.text_field :name %></p>

    <p>Home Port: <%= f.text_field :location %></p> <!-- use google maps to confirm -->
    <p>Choose type of vessel: <%= f.select :boat_type, ['yacht', 'sloop', 'scooner', 'frigate', 'pirate ship']%></p>

    <p>Choose vessel capacity: <%= f.select :capacity, ['2 people', '3 people', '4 people', '5 people']%></p>

    <p>Price per day: <%= f.number_field :price %> euros</p>

    <p>Add description of your cool ass vessel:</p>
    <p> <%= f.text_area :description %></p>

    <p>Upload a photo of your boat: <%= f.file_field :photo %></p>

    <!-- TEMP --> <%= f.hidden_field( :user_id, { :value => 1 } ) %>


    <%= f.submit %>
    <% end %>


    </div>
</div>
