<div class="container">

  <!-- <div class="add-boat-header">
    <h1>Add Your Vessel Details</h1>
  </div>
 -->
  <div class="boat-form">

    <%= form_for @boat do |f| %>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="add-boat-form-content">

            <p>Vessel Name:</p>
            <%= f.text_field :name, class: 'add-boat-text-field', placeholder: 'Name of vessel' %>

            <p>Port:</p>
            <%= f.text_field :location, class: 'add-boat-text-field', placeholder: 'Home port' %> <!-- use google maps to confirm -->

            <p>Vessel Type:</p>
            <%= f.select :boat_type, ['Yacht', 'Sloop', 'Schooner', 'Frigate', 'Pirate Ship', 'Barque', 'Kayak', 'Canoe'] %>

            <p>Vessel Capacity:</p>
            <%= f.select :capacity, ['2 people', '3 people', '4 people', '5 people', '6 people', '7 people', '8 people'] %>


            <p>Price/day</p>
            <%= f.number_field :price %>

            <p>Give a short description:</p>
            <%= f.text_area :description %>

            <p>Upload a photo</p>
            <%= f.file_field :photo %>

            <%= f.submit :save, class: 'add-boat-submit' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="space-maker" style="height:50px"></div>
