<div class="wrapper">
  <div class="home_title">
      <h1>All of our boats!</h1>
      <div class="sweet_line"></div>
  </div>


  <div class="container">
    <div class="row">
      <div class="cards_no_map">
      <% @boats.each do |boat| %>
        <%= link_to boat_path(boat) do %>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="card_border">
                <div class="card" style="background-image: url(<%= boat.photo %>;">
                  <div class="nav_wheel" style="background-image: url(<%= image_path("nav_wheel.png")%>;">
                  </div>
                    <div class="name">
                      <h3><%= boat.name %></h3>
                    </div>
                </div>
                <div class="boat_details">
                  <div class="main">
                    <p><%= boat.boat_type %></p>
                    <p><%= boat.price %>€ per day</p>
                  </div>
                  <div class="capacity">
                    <p>Capacity:  <%= boat.capacity %></p>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
      </div>
      <% if @boats.empty? %>
        <div class="no_boat_image">
          <%= image_tag("sorry.gif") %>
          <h1>No boats in <%= params[:query] %></h1>
        </div>
        <% else %>
        <div id="map" class="map-container" style="width: 95%; height: 400px;"data-markers="<%= @markers.to_json %>">
        <% end %>
        </div>
      </div>
    </div>
</div>

