<h1>Boats#index</h1>
<p>Find me in app/views/boats/index.html.erb</p>

<div class="wrapping">
  <div class="title">
    <h1>All of our boats!</h1>
  </div>

  <div class="container">
    <div class="row">
      <% @boats.each do |boat| %>
        <%= link_to boat_path(boat) do %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card_border">
              <div class="card" style="background-image: url(<%= image_path("boat.jpg")%>;">
                <div class="nav_wheel" style="background-image: url(<%= image_path("nav_wheel.png")%>;">
                </div>
                  <div class="location">
                    <h3><%= boat.name.capitalize %></h3>
                  </div>
              </div>
              <div class="boat_details">
                <div class="main">
                  <p><%= boat.boat_type.capitalize %></p>
                  <p><%= boat.price %>$ per day</p>
                </div>
                <div class="details">
                  <p>For <%= boat.capacity %> passengers</p>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

