

<div class="wrapper">
<%= link_to boats_path do %>
    <button type="button" class="back btn btn-warning">Back</button>
  <% end %>


  <div class="container">
    <div class="row">
      <span class="title">
          <h3 id="vessel-name"><%= @boat.name %> </h3>
        </span>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card-show">
          <div class="show-img" style="background-image: url(<%= @boat.photo %>;"></div>

          <h3></h3>
          <p><%= @boat.description %></p>rails
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="details">
          <div class="show-info">
            <div class="text">
              <h3>Details</h3>
              <br>
              <div class="price">
                <h5><strong>Price/day:</strong></h5>
                <h5><%= @boat.price %> €</h5>
              </div>
              <div class="vessel_type">
                <h5><strong>Vessel Type:</strong></h5>
                <h5><%= @boat.boat_type.capitalize  %></h5>
              </div>
              <div class="vessel_capacity">
                <h5><strong>Vessel Capacity:</strong></h5>
                <h5><%= @boat.capacity %> passengers</h5>
              </div>
              <div class="city">
                <h5><strong>Location:</strong></h5>
                <h5><%= @boat.location.capitalize %></h5>
              </div>
            </div>
          </div>
          <div class="owner_options">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
             <div class="edit_boat">
                <%= link_to edit_boat_path(@boat) do %>
                  <button class="option_button">Edit</button>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
              <div class="delete_boat">
                <%= link_to boat_path(@boat), :method => "delete",
            data: { confirm: "Are you sure you want to delete #{@boat.name}?"} do %>
                  <button class="option_button" >Delete boat</button>
                <% end %>
              </div>
            </div>
          </div>
          <div class="button">
            <%= link_to new_boat_booking_path(@boat) do %>
            <button type="button" class="book_now btn btn-success">Book it now!</button>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="space-maker" style="height:50px"></div>




